<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>longpt.servlet.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>longpt.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>longpt.servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginByFaceServlet</servlet-name>
        <servlet-class>longpt.servlet.LoginByFaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <servlet-class>longpt.servlet.LoginFacebookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>longpt.servlet.SearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>longpt.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>longpt.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookServlet</servlet-name>
        <servlet-class>longpt.servlet.SearchBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>longpt.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountToCartServlet</servlet-name>
        <servlet-class>longpt.servlet.DiscountToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutToCartServlet</servlet-name>
        <servlet-class>longpt.servlet.CheckOutToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditToCartServlet</servlet-name>
        <servlet-class>longpt.servlet.EditToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveToCartServlet</servlet-name>
        <servlet-class>longpt.servlet.RemoveToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>longpt.servlet.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>longpt.servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>longpt.servlet.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>longpt.servlet.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>longpt.servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDiscountServlet</servlet-name>
        <servlet-class>longpt.servlet.SearchDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiscountServlet</servlet-name>
        <servlet-class>longpt.servlet.AddDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDiscountServlet</servlet-name>
        <servlet-class>longpt.servlet.UpdateDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscountServlet</servlet-name>
        <servlet-class>longpt.servlet.DeleteDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrder</servlet-name>
        <servlet-class>longpt.servlet.ListOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>longpt.servlet.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginByFaceServlet</servlet-name>
        <url-pattern>/LoginByFaceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/SearchUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookServlet</servlet-name>
        <url-pattern>/SearchBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountToCartServlet</servlet-name>
        <url-pattern>/DiscountToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutToCartServlet</servlet-name>
        <url-pattern>/CheckOutToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditToCartServlet</servlet-name>
        <url-pattern>/EditToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveToCartServlet</servlet-name>
        <url-pattern>/RemoveToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDiscountServlet</servlet-name>
        <url-pattern>/SearchDiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiscountServlet</servlet-name>
        <url-pattern>/AddDiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDiscountServlet</servlet-name>
        <url-pattern>/UpdateDiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscountServlet</servlet-name>
        <url-pattern>/DeleteDiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrder</servlet-name>
        <url-pattern>/ListOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/SearchOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            DispatchServlet
        </welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>TheBookStore</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <!--    <security-constraint>
       <web-resource-collection>
          <web-resource-name>SessionTest</web-resource-name>
          <url-pattern>/*</url-pattern>
       </web-resource-collection>
       <user-data-constraint>
          <transport-guarantee>CONFIDENTIAL</transport-guarantee>
       </user-data-constraint>
    </security-constraint>-->
</web-app>
